.base00 {
  color: #1b1918; }

.base01 {
  color: #2c2421; }

.base02 {
  color: #68615e; }

.base03 {
  color: #766e6b; }

.base04 {
  color: #9c9491; }

.base05 {
  color: #a8a19f; }

.base06 {
  color: #e6e2e0; }

.base07 {
  color: #f1efee; }

.base08 {
  color: #f22c40; }

.base09 {
  color: #df5320; }

.base0a {
  color: #c38418; }

.base0b {
  color: #7b9726; }

.base0c {
  color: #3d97b8; }

.base0d {
  color: #407ee7; }

.base0e {
  color: #6666ea; }

.base0f {
  color: #c33ff3; }

/* General Page Layout */
body {
  margin: 0;
  background-color: #1b1918;
  color: #f1efee;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Source Code Pro', sans-serif; }

.container {
  max-width: 52em;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 52em) {
    .container {
      width: 100%; } }

div.right {
  float: right; }

div.clearfix {
  overflow: auto; }

article.single section,
.article-list article {
  background-color: #f1efee;
  color: #1b1918;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (max-width: 52em) {
    article.single section,
    .article-list article {
      padding-left: 2rem;
      padding-right: 2rem; } }

header, footer {
  background-color: #2c2421;
  padding-top: 1rem;
  padding-bottom: 1rem; }

header {
  margin-top: 1rem;
  margin-bottom: 2rem; }
  @media (max-width: 52em) {
    header {
      margin-top: 0;
      padding-left: 2rem;
      padding-right: 2rem; } }

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9em;
  color: #766e6b; }
  @media (max-width: 52em) {
    footer {
      margin-top: 0;
      margin-bottom: 0; } }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: .875rem; }

h6 {
  font-size: .75rem; }

pre, code {
  font-family: inherit;
  font-size: inherit;
  line-height: initial; }

/* Header Layout */
header a.path {
  color: #407ee7; }

header span.caret {
  color: #f1efee; }

/* Footer Layout */
footer a {
  color: #766e6b;
  text-decoration: none; }

/* 404 Page Layout */
.page-not-found h1 {
  text-align: center;
  font-size: 5em; }
  @media (max-width: 52em) {
    .page-not-found h1 {
      font-size: 3em; } }

.page-not-found h2 {
  text-align: center;
  font-size: 3em;
  color: #9c9491;
  margin-bottom: 4rem; }
  @media (max-width: 52em) {
    .page-not-found h2 {
      font-size: 2em; } }

/* Homepage Layout */
.homepage h1.site-title {
  text-align: center;
  font-size: 5em;
  color: #3d97b8; }
  @media (max-width: 52em) {
    .homepage h1.site-title {
      font-size: 3em; } }

@media (max-width: 52em) {
  .homepage {
    margin-bottom: 2rem; } }

.homepage h1.headline {
  font-size: 3em;
  color: #c38418; }
  @media (max-width: 52em) {
    .homepage h1.headline {
      padding-left: 2rem;
      padding-right: 2rem; } }

.homepage .hero-logo img {
  width: 100%; }

.homepage section.categories, .homepage section.tags {
  padding-left: 2rem;
  padding-right: 2rem; }

.homepage .category,
.homepage .category a {
  color: #6666ea; }

.homepage .tag {
  color: #6666ea;
  margin-right: 2em; }
  .homepage .tag a {
    color: #6666ea; }

.homepage nav {
  text-align: center; }

.homepage .nav-left {
  color: #6666ea;
  margin-left: auto;
  margin-right: 1%; }

.homepage .nav-right {
  color: #6666ea;
  margin-left: 1%;
  margin-right: auto; }

.homepage .nav-hidden {
  visibility: hidden; }

/* Post List Layout */
.article-list h1.list-title {
  font-size: 3em;
  color: #c38418; }

.article-list article {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem; }
  .article-list article h2.headline, .article-list article h2.headline a {
    margin-top: 0;
    color: #407ee7; }
  .article-list article .meta {
    margin-bottom: 1rem; }
    .article-list article .meta .key {
      color: #766e6b; }
    .article-list article .meta .val {
      color: #6666ea; }
      .article-list article .meta .val a {
        color: #6666ea; }
  .article-list article section.summary a {
    color: #c33ff3; }

/* Single Post Layout */
article.single {
  /* Article Elements */ }
  article.single .meta {
    font-size: 0.9em;
    text-align: right; }
    article.single .meta .key {
      color: #766e6b; }
    article.single .meta .val {
      color: #6666ea; }
      article.single .meta .val a {
        color: #6666ea; }
    @media (max-width: 52em) {
      article.single .meta {
        padding-left: 2rem;
        padding-right: 2rem; } }
  article.single h1.headline {
    margin-top: 0;
    font-size: 3em;
    color: #c38418; }
    @media (max-width: 52em) {
      article.single h1.headline {
        padding-left: 2rem;
        padding-right: 2rem; } }
  article.single section.body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    /* Highlight Colors */ }
    @media (max-width: 52em) {
      article.single section.body {
        padding-top: 2rem;
        padding-bottom: 1rem; } }
    article.single section.body h1 {
      color: #407ee7; }
    article.single section.body h2 {
      color: #7b9726; }
    article.single section.body h3 {
      color: #df5320; }
    article.single section.body h4 {
      color: #f22c40; }
    article.single section.body h5 {
      color: #68615e; }
    article.single section.body h6 {
      color: #766e6b; }
    article.single section.body a {
      color: #c33ff3; }
  article.single * {
    max-width: 100%; }
  article.single .toc {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: solid 1px #766e6b;
    border-bottom: solid 1px #766e6b; }
    article.single .toc ul {
      font-weight: bold;
      line-height: 1.25;
      margin-top: 1em;
      margin-bottom: .5em; }
    article.single .toc li {
      list-style: none;
      border-left: solid 1px #a8a19f;
      padding-left: 1rem; }
    article.single .toc a {
      text-decoration: none; }
    article.single .toc ul li a {
      font-size: 1.5rem;
      color: #7b9726; }
    article.single .toc ul li ul li a {
      font-size: 1.25rem;
      color: #df5320; }
    article.single .toc ul li ul li ul li a {
      font-size: 1rem;
      color: #f22c40; }
    article.single .toc ul li ul li ul li ul li a {
      font-size: .875rem;
      color: #68615e; }
    article.single .toc ul li ul li ul li ul li ul li a {
      font-size: .75rem;
      color: #766e6b; }
  article.single pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow-x: auto;
    border-radius: 3px;
    padding: 2rem; }
  article.single p code {
    padding: 0.2em 0.5em;
    border-radius: 3px;
    background: #766e6b;
    color: #f1efee; }
  article.single div.highlight {
    box-sizing: border-box;
    max-width: 52em;
    width: 52em;
    margin-left: -6rem;
    margin-right: -6rem;
    margin-bottom: 1rem;
    padding: 1em;
    background-color: #2c2421; }
    @media (max-width: 52em) {
      article.single div.highlight {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 3px; } }
  article.single figure {
    box-sizing: border-box;
    max-width: 52em;
    width: 52em;
    margin-left: -6rem;
    margin-right: -6rem;
    margin-bottom: 1rem;
    padding: 1em;
    background-color: #2c2421; }
    @media (max-width: 52em) {
      article.single figure {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 3px; } }
    article.single figure img {
      max-width: 100%;
      width: 100%;
      border-radius: 3px; }
    article.single figure figcaption {
      margin-top: 0.5rem;
      padding-top: 0.5rem;
      border-top: solid 1px #68615e; }
      article.single figure figcaption h4 {
        margin-top: 0;
        text-align: center;
        font-style: italic;
        font-weight: normal;
        color: #f1efee; }
      article.single figure figcaption p {
        color: #e6e2e0; }
  article.single .src-block-caption {
    font-style: italic;
    color: #2c2421;
    padding: 0.5em;
    border-bottom: solid 1px #766e6b; }
  article.single .table-caption {
    border-top: solid 1px #766e6b;
    padding-top: 0.5rem; }
  article.single table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
    display: block;
    overflow: auto; }
  article.single th,
  article.single td {
    padding: .25rem 1rem;
    line-height: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #9c9491; }
  article.single tr:last-child td {
    border-bottom: 0; }
  article.single th {
    text-align: left;
    font-weight: bold;
    vertical-align: bottom; }
  article.single td {
    vertical-align: top; }
  article.single blockquote {
    margin-left: 2rem;
    margin-right: 3rem;
    padding-left: 1rem;
    border-left: 5px solid #3d97b8; }
  article.single hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #9c9491; }

/* Pygments template by Jan T. Sott (https://github.com/idleberg) */
pre {
  background: #1b1918;
  color: #f1efee; }

.highlight .hll {
  background-color: #68615e; }

.highlight .c {
  color: #766e6b;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #f22c40; }

/* Error */
.highlight .k {
  color: #6666ea; }

/* Keyword */
.highlight .l {
  color: #df5320; }

/* Literal */
.highlight .n {
  color: #f1efee; }

/* Name */
.highlight .o {
  color: #3d97b8; }

/* Operator */
.highlight .p {
  color: #f1efee; }

/* Punctuation */
.highlight .cm {
  color: #766e6b;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #766e6b;
  font-style: italic; }

/* Comment.Preproc */
.highlight .c1 {
  color: #766e6b;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #766e6b;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #f22c40; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gh {
  color: #f1efee;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #7b9726; }

/* Generic.Inserted */
.highlight .gp {
  color: #766e6b;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #3d97b8;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .kc {
  color: #6666ea; }

/* Keyword.Constant */
.highlight .kd {
  color: #6666ea; }

/* Keyword.Declaration */
.highlight .kn {
  color: #3d97b8; }

/* Keyword.Namespace */
.highlight .kp {
  color: #6666ea; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #6666ea; }

/* Keyword.Reserved */
.highlight .kt {
  color: #c38418; }

/* Keyword.Type */
.highlight .ld {
  color: #7b9726; }

/* Literal.Date */
.highlight .m {
  color: #df5320; }

/* Literal.Number */
.highlight .s {
  color: #7b9726; }

/* Literal.String */
.highlight .na {
  color: #407ee7; }

/* Name.Attribute */
.highlight .nb {
  color: #f1efee; }

/* Name.Builtin */
.highlight .nc {
  color: #c38418; }

/* Name.Class */
.highlight .no {
  color: #f22c40; }

/* Name.Constant */
.highlight .nd {
  color: #3d97b8; }

/* Name.Decorator */
.highlight .ni {
  color: #f1efee; }

/* Name.Entity */
.highlight .ne {
  color: #f22c40; }

/* Name.Exception */
.highlight .nf {
  color: #407ee7; }

/* Name.Function */
.highlight .nl {
  color: #f1efee; }

/* Name.Label */
.highlight .nn {
  color: #c38418; }

/* Name.Namespace */
.highlight .nx {
  color: #407ee7; }

/* Name.Other */
.highlight .py {
  color: #f1efee; }

/* Name.Property */
.highlight .nt {
  color: #3d97b8; }

/* Name.Tag */
.highlight .nv {
  color: #f22c40; }

/* Name.Variable */
.highlight .ow {
  color: #3d97b8; }

/* Operator.Word */
.highlight .w {
  color: #f1efee; }

/* Text.Whitespace */
.highlight .mf {
  color: #df5320; }

/* Literal.Number.Float */
.highlight .mh {
  color: #df5320; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #df5320; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #df5320; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #7b9726; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #f1efee; }

/* Literal.String.Char */
.highlight .sd {
  color: #766e6b; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #7b9726; }

/* Literal.String.Double */
.highlight .se {
  color: #df5320; }

/* Literal.String.Escape */
.highlight .sh {
  color: #7b9726; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #df5320; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #7b9726; }

/* Literal.String.Other */
.highlight .sr {
  color: #7b9726; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #7b9726; }

/* Literal.String.Single */
.highlight .ss {
  color: #7b9726; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f1efee; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f22c40; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f22c40; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f22c40; }

/* Name.Variable.Instance */
.highlight .il {
  color: #df5320; }

/* Literal.Number.Integer.Long */

/*# sourceMappingURL=style.css.map */
